@page "/"

@using teko_projektarbeit_loesungsalgorithmen.Services
@using teko_projektarbeit_loesungsalgorithmen.Objects
@inject NavigationManager NavigationManager
@inject SessionService SessionService
@inject DataService DataService
@rendermode InteractiveServer
<PageTitle>Home</PageTitle>

<h1>Hallo @if (CurrentUser != null) { 
        @CurrentUser.Name 
    }</h1>
    <div class="row">
        <div class="d-flex justify-content-between">
            <h2>Projekte</h2>
       
            <a href="/projects/0" class="btn btn-primary">Neues Projekt</a>
        </div>

</div>
<div class="row">
    @foreach (Objects.Project project in projects)
    {
        <article class="project-card card col-md-6 col-lg-4">
            <h3>@project.Name</h3>
            <p>Lead: @project.Name</p>
            <a href="/projects/@project.Id">Mehr</a>
        </article>
    }
</div>

@* Liste der User:
<ul>

    @foreach (Objects.User user in users)
    {
        <li><span>@user.Name</span></li>
    }
</ul> *@

@code {
    List<Objects.Project> projects = new List<Objects.Project>();
    List<Objects.User> users = new List<Objects.User>();

    protected override async Task OnInitializedAsync()
    {
        projects = DataService.Projects;
        users = DataService.Users;
    }

    int? userId;
    User? CurrentUser; 

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender) {
            userId = await SessionService.GetUserId();

            if (userId == null) {
                NavigationManager.NavigateTo("/login");
            } else {
                CurrentUser = DataService.GetUserById((int)userId);
                StateHasChanged();
            }

        }
    }


    public async void LogOut()
    {
        await SessionService.RemoveSession();
        NavigationManager.NavigateTo("/login");
    }
    
}