@using static teko_projektarbeit_loesungsalgorithmen.Objects.User
@using teko_projektarbeit_loesungsalgorithmen.Services
@using teko_projektarbeit_loesungsalgorithmen.Objects

@rendermode InteractiveServer

@inject DataService DataService
@inject NavigationManager NavigationManager
@inject SessionService SessionService

<div class="card mb-5">
    <div class="card-body row">
        <fieldset class="col-6 mb-3">
            <label>Projektname:</label>
            <input @bind="EditInstance.Name" class="form-control" disabled="@(CurrentUser.Role != ProjectRole.Lead || DisallowEdit )" />
        </fieldset>

        <fieldset class="col-6 mb-3">
            <label>Kundenname:</label>
            <input @bind="EditInstance.CustomerName" class="form-control" disabled="@(CurrentUser.Role != ProjectRole.Lead || DisallowEdit)" />
        </fieldset>

        <fieldset class="col-12 mb-3">
            <label>Beschreibung:</label>
            <input @bind="EditInstance.Description" class="form-control" disabled="@(CurrentUser.Role != ProjectRole.Lead || DisallowEdit)" />
        </fieldset>

        @if (!(CurrentUser.Role != ProjectRole.Lead || DisallowEdit))
        {
            <div class="col-12">
                <button @onclick="SaveProject" class="btn btn-primary">Speichern</button>
            </div>
        }
    </div>
</div>

@code {



    [Parameter]
    public bool DisallowEdit { get; set; }

    [Parameter]
    public  Objects.Project EditInstance { get; set; }

    private User CurrentUser = new User(0, "", ProjectRole.Staff);

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            CurrentUser = DataService.GetUserById((int)await SessionService.GetUserId()) ?? new User(0, "", ProjectRole.Staff);
        }
        StateHasChanged();
    }


    private void SaveProject()
    {
        List<Objects.Project> tempProjects = DataService.Projects;

        if (EditInstance.Id != 0) {
            // Increase version number if it is an update
            EditInstance.Version++;
        } else {
            EditInstance.Id = DataService.GetNewProjectId();
            EditInstance.ProjectLeadId = CurrentUser.Id;
        }

        tempProjects.Add(EditInstance);

        DataService.Projects = tempProjects;

        NavigationManager.NavigateTo("/");
    }
}
